@import url('https://fonts.googleapis.com/css2?family=Cabin&family=Roboto:wght@100;500&family=Source+Sans+Pro:wght@700&display=swap');
body
{
    background-color: #222831;
    font-family: 'Roboto';
    margin: 0;
}

aside, #deneme {
    color: #fff;
    width: 250px;
    padding-left: 20px;
    height: 100vh;
    background-image: linear-gradient(-30deg , #222831,#00acb58e, #00ADB5);
    border-top-right-radius: 80px;
    opacity: 0.9;
    position: fixed;
    left: 0px;
    top: 0px;
  }

  .yukaricik
  {
    transition: 0.9s;
    position: fixed;
    width: 60px;
    height: 50px;
    background-color: red;
    top: 94%;
    left: 94%;
    border-radius: 30px;
  }
  
  aside a {
    font-size: 22px;
    color: #393E46;
    display: block;
    padding: 12px;
    padding-left: 30px;
    text-decoration: none;
    -webkit-tap-highlight-color:transparent;
  }
  
  aside a:hover {
    color: #00ADB5;
    background: #ff0000;
    outline: none;
    position: relative;
    background-color: #222831;
    border-top-left-radius: 20px;
    border-bottom-left-radius: 20px;
  }
  
  aside a i {
    margin-right: 5px;
  }
  
  aside a:hover::after {
    content: "";
    position: absolute;
    background-color: transparent;
    bottom: 100%;
    right: 0;
    height: 35px;
    width: 35px;
    border-bottom-right-radius: 18px;
    box-shadow: 0 20px 0 0 #222831;
  }
  
  aside a:hover::before {
    content: "";
    position: absolute;
    background-color: transparent;
    top: 38px;
    right: 0;
    height: 35px;
    width: 35px;
    border-top-right-radius: 18px;
    box-shadow: 0 -20px 0 0 #222831;
  }
  
  aside p {
    margin: 0;
    padding: 40px 0;
  }

  .exit:hover
  {
    color: red;
  }
  
  .social {
    height: 0;  
  }
  
  .social i:before {
    width: 14px;
    height: 14px;
    font-size: 14px;
    position: fixed;
    color: #fff;
    background: #0077B5;
    padding: 10px;
    border-radius: 50%;
    top:5px;
    right:5px;
  }

.icerik
{
    width: 45px;
    height: 30px;
    margin-left: 230px;
    background-color: red;
}